@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

body{

  font-size: 18px;

  font-weight: 400, 600;

  text-align: center;

  font-family: 'Bai Jamjuree', sans-serif;

  margin: -20px;

  padding: 10px;

}

.header {
  background: url('./bg-header-desktop.png') no-repeat center center /cover;
}

p{

  color: hsl(210, 10%, 33%);

}

section{

  margin-top: 20px;

  padding: 10px

}

/* @media (max-width: 375px){

  section{

  display: flex;

  flex-direction: column;}

} */

footer{

  display: flex;

  justify-content: center;

  gap: 30px;

  padding-top: 20px;

  background-color:hsl(201, 11%, 66%);

  margin-top:20px;

 

}

.tools{

  display: flex;

  gap: 30px;

  padding: 10px 10px;

  margin: 10px 10px;

}

h3  {

  padding: 10px 10px;

}

.computer{

  display:flex;

  gap: 30px;

padding: 40px 20px;

}

.company{

  display: flex;

  gap: 50px;

  margin:20px;

  padding:20px;

  align-items: center;

  justify-content: center;

}

button{

 border-radius: 30px;

 border-spacing: 30px;

 padding:10px;

 color: white;

 border: none;

 cursor: pointer;

}

.btn1{

  background-color: hsl(171, 66%, 44%);

  margin-right: 10px;

}

.btn2{

  background-color:hsl(233, 100%, 69%);

  margin-left: 10px;

}

.social-media{

  padding-top: 20px;

  margin-left: 400px;

 }

#compute{

 margin-right: 160px;

 padding: 30px;

}

a {

  text-decoration: none;

  color:hsl(210, 10%, 33%);

}

@media(max-width: 760px) {
  .computer-image {
    width: 100%;
  }

  .computer-image img {
    width: 100%;
  }

  .computer {
    flex-direction: column;
  }

  #compute{
    margin-right: 0;
   }

   .devices-image {
     width: 100%;
   }

   .devices-image img {
    width: 100%;
  }

  .tools {
    flex-direction: column;
  }

  .company{
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .social-media {
    margin-left: 0;
  }

  .social-media img {
    margin-left: 0.5rem;
  }
}


